
# Bỏ qua virtual environment và các file hệ thống
services/python-service/virtual_env/
services/python-service/app/agents/attacker2025/
services/python-service/attacker2025/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env


# Python
__pycache__/
*.py[cod]
*.pkl

# Virtual env
virtual_env/
.env/
venv/

# VSCode
.vscode/

# Mac/Linux swap
*.swp

node_modules/
package-lock.json
yarn.lock

*.pyc
.gitignore
.pkl